p{
color:maroon; 
background-color:purple;
}
ol{
background-color:navy;
}
h1{
color:red;
text-align:right;
font-family:Tahoma;
}
a{
background-color:fuchsia;
text-decoration:none;
}
body{
background-color:aqua;
}
img{
height:600px;
width:400px;
}